* {}

.banner {
    background-color: #02986F !important;
    height: 90px;
}

.banner a {
    cursor: pointer;
    font-size: 35px;
    float: right;
    margin-top: 20px;
    margin-right: 55px;
    color: white;
}